/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 20, 2017, 2:18:49 PM
    Author     : Acer
*/


/* Navigation bar */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

h1, h2, h3 {
    font-weight: normal;
}

h3.lighter {
    font-weight: 300;
}

#nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF5722;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

#nav_bar_logo {
    display: block;
    font-size: 20px;
    color: white;
    float: left;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

#nav_bar li a {
    display: block;
    font-size: 18px;
    color: white;
    float: right;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
}

#nav_bar li a:hover{
    background-color: #C83200;
}

#logoutbutton {
    background-color:red;
}

#headerdiv {
    background-color:#81D0E1;
    color:white;
    padding-top:75px;
}

/* The "WHAT WE OFFER" section */

#features {
    background-color: #34495E;
    color: white;
    position: relative;
    z-index: 50;
    padding-top:50px;
    padding-bottom:50px;
}

#features h1 {
    font-size: 40px;
    font-weight: normal;
}

#features h2 {
    font-size: 30px;
    font-weight: normal;
}
#features h3 {
    font-size: 20px;
}


/* The "ABOUT US" section */

#Aboutus {
    background: #FF5722;
    color: white;
    position: relative;
    z-index: 50;
    padding-top:50px;
    padding-bottom:50px;
}

#Aboutus h1 {
    font-size: 40px;
    font-weight: bold;
}

#Aboutus h2{
    color:#81D0E1;
}


/* The sign-up & sign-in buttons on the left side of the front page */

#sign_in_button, #sign_up_button, #logout_button {
    display: block;
    text-decoration: none;
    border: none;
    text-align: right;
    background-color: #FF5722;
    z-index: 75;
    color: white;
    font-size: 18px;
    position: absolute;
    left: 0;
}

#sign_in_button {
    padding: 10px 23px;
    padding-left: 80px;
    top: 200px;
}

#sign_up_button {
    padding: 10px 21px;
    padding-left: 75px;
    top: 250px;
}

#logout_button{
    padding: 10px 21px;
    padding-left: 75px;
    top: 200px;
}

#sign_up_button:hover, #sign_in_button:hover {
    background-color: #C83200;
}

/* Dashboard Logo */
#dashboard_logo {
    justify-content: center;
    background-color: #FF5722;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
}

/* Buttons for dashboard */
.dashboard_features_button {
    justify-content: center;
    background-color: #FF5722;
    border: 1px solid #f43a07;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 210px;
    height: 60px;
}

.dashboard_course {
    justify-content: center;
    background-color: #0073e6;
    border: 1px solid #0059b3;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 210px;
    height: 60px;

}

.dashboard_course:hover {
    text-decoration:none;
    background-color:skyblue;
    color:#0073e6;
}

.dashboard_features_button:hover{
    text-decoration:none;
    background-color: #C83200;
    color:white;
}

.dashboard_course_features {
    justify-content: center;
    background-color: #0099ff;
    border: 1px solid #008ae6;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 210px;
    height: 28px;
}

/* Same size as dashboard buttons, just says "Dashboard" */
#dashboard_header {
    justify-content: center;
    background-color: #81D0E1;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 212px;
    height: 60px;
}

#dashboard_logo {
    justify-content: center;
    background-color: #FF5722;
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
}

#dashboard_logout_button {
    justify-content: center;
    background-color: #e53232;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    width: 212px;
    height: 60px;
}

.dashboard {
    background-image: url("http://i.imgur.com/5vzEd8p.png");
    background-repeat: no-repeat;
    background-position:center;
    background-color: #70CCD9;
    background-attachment: fixed;


}


.dashboardcontainer{
    position:absolute;
    top:100px;
    left:300px;
    margin-right: 100px;
    margin-bottom:100px;
    width:75%;
    color:white;
}

.leftSmallDiv{
    background-color:white;
    color:black;
    padding:100px;
    width:65%;
}

.rightSmallDiv{
    position:absolute;
    top:0px;
    left:68.5%;
    width:65%;
    background-color:white;
    color:black;
    padding:100px;

}

.dashboardcontainer2{
    position:relative;
    width:75%;

}

.dashboardDiv{
    background-color:white;
    padding:50px;
    color:#004A7F;
    padding:100px;
    width:100%;
    margin-bottom: 25px;
}


.dashboardDiv h1 {
    color:#004A7F;
}

.dashboardDiv .subtitle{
    color:darkslategrey;
}

/* for the center-of-page dashboard buttons */
.dashboard_course_box, .dashboard_add_course_box {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    float: left;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.dashboard_course_box {
    font-size: 30px;
}

.dashboard_add_course_box {
    font-size: 18px;
}

.dashboard_course_box:link, .dashboard_course_box:visited, .dashboard_add_course_box:link, .dashboard_add_course_box:visited {
    color: #000000;
    background-color: #FFFFFF;
}

.dashboard_course_box:hover, .dashboard_add_course_box:hover {
    background-color: #E6E8FA;
}

.dashboard_course_box:active, .dashboard_add_course_box:active {
    color: #000000;
    background-color: #FFFFFF;
}

.dashboard_box_link {
    color: #000000;
    text-decoration: none;
}

.box_course_semester {
    font-size: 15px;
}

.box_plus_sign {
    font-size: 80px;
}


/*this is the CSS for connection page and registration page */

input.standardField{
    width: 25%;
    background-color: #ffffff;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formsButton{
    width: 100px;
    background-color: #66d9ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#mainPanel{
    background-color: #d9d9d9;
}
